


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 1322px; height: 90px;' placeholder="Enter your text"></textarea><br>
    <input type="checkbox" name="rempun"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> CAPITALIZE <br>
    <input type="checkbox" name="newlineremover"> New line remover <br>
    <input type="checkbox" name="extraspaceremover"> Extra space remover <br>
    <input type="checkbox" name="charcounter"> Character counter <br>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>